.onLightYellow {
    -webkit-box-shadow: 10px 10px 125px 8px rgba(247,247,8,1);
-moz-box-shadow: 10px 10px 125px 8px rgba(247,247,8,1);
box-shadow: 10px 10px 125px 8px rgba(247,247,8,1);
}

.onLightRed {
    -webkit-box-shadow: 10px 10px 125px 8px rgba(245,12,51,1);
-moz-box-shadow: 10px 10px 125px 8px rgba(245,12,51,1);
box-shadow: 10px 10px 125px 8px rgba(245,12,51,1);
}

.onLightGreen {
    -webkit-box-shadow: 10px 10px 125px 8px rgba(10,245,17,1);
-moz-box-shadow: 10px 10px 125px 8px rgba(10,245,17,1);
box-shadow: 10px 10px 125px 8px rgba(10,245,17,1);
}
